.random-input {
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px  solid #dee2e6 !important;
  width: 250px;
}

.random-input__display {
  font-size: 19px;
  margin-bottom: 10px;
  margin: 0;
  outline: none;
  background-color: transparent;
  border: none;
  width: 100%;
  line-height: 1;
  padding: 6px 12px;
  color: #232323 !important;
}


.random-label {
  color: #757575 !important;
  margin: 0;
  font-size: 0.8rem;
}