@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

.labels {
  color: #757575 !important;
  margin: 0;
  font-size: 0.75rem;
  font-family: 'Roboto';
}

.input_display {
  font-size: 16px;
  margin-bottom: 10px;
  margin: 0;
  outline: none;
  background-color: transparent;
  border: none;
  width: 100%;
  line-height: 1;
  padding: 8px 14px;
  color: #232323 !important;
}

.input {
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px  solid #dee2e6 !important;
  width: 250px;
  position: relative;
  font-family: 'Roboto';
}

.button-cont{
  height: 35px;
}

.button {
  align-items: center;
  border-radius: 6px;
  border: none;
  width: 250px;
  height: 35px;
  cursor: pointer;
  font-size: 0.9rem;
  color: #fff;
  background-color: #904cd3;
  text-align: center;
  font-family: 'Roboto';
  transition: 1;
}

.button-locker {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: none;
  width: 250px;
  height: 35px;
  cursor: pointer;
  font-size: 0.9rem;
  color: #e9e9e9;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  font-family: 'Roboto';
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  transition: 0.3s;
  z-index: 123;
}

.button:hover{
  filter: brightness(0.9);
}

.button-locker:active {
  filter: brightness(1.1);
  background-color: rgba(0,0,0,0.6);
}