.no-mistake-button {
  font-size: 14px;
  padding: 2px 8px;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #757575 !important;
  width: 30px;
}

.no-mistake-button-ta {
  font-size: 14px;
  padding: 3px 16px;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #757575 !important;
  width: 30px;
  top:0px;
  right:0px; 
  position:absolute;
}