.pacience-input__display {
  border-left: 1px  solid #dee2e6 !important;
  border-right: 1px  solid #dee2e6 !important;
  color: #232323 !important;
}

.pacience-input__button {
  font-size: 18px;
  padding: 2px 8px;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #757575 !important;
  width: 30px;
}

.pacience-input__display[disabled] {
  color: inherit;
}